[Unit]
Description=JitterTrap: you're trapped.
After=network.target

[Service]
Type=simple
Environment=LANG=C
ExecStart=@BINDIR@/jt-server --port 80 --resource_path /var/lib/jittertrap/
ExecStop=kill -WINCH ${MAINPID}

[Install]
WantedBy=multi-user.target
